.title{
    margin-top: 40px;
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    
}


.cardhome{
    
    height: 200px;
}

.footers{
    
    text-align: center;
    margin-top: 100px;
 
   color: black;
   bottom: 0;
    margin-bottom: 50px;
  
 
}

.footers div{
    margin-top: 25px;
   
}



.navs{
    
    margin-right: 40px;
    color: white;
}